@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Administración</h1>
    <p class="lead">Bienvenido al sitio administrador de sala de cines y precios, donde podrá agregar, consultar, modificar o eliminar salas y precios.</p>
</div>

<div class="row main">
    <div class="col-md-6">
        <h2>Salas de cine</h2>
        <p>
            <button class="btn btn-primary btn-lg">@Html.ActionLink("Lista de salas", "Index", "Sala", null, new { @class = "btn-jb" })</button>
            <button class="btn btn-default btn-lg">@Html.ActionLink("Agregar Sala", "Crear", "Sala", null, new { @class = "btn-jb2" })</button>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Precios</h2>
        <p>
            <button class="btn btn-primary btn-lg">@Html.ActionLink("Lista de Precios", "Index", "Sala", null, new { @class = "btn-jb" })</button>
            <button class="btn btn-default btn-lg">@Html.ActionLink("Agregar Precio", "Crear", "Sala", null, new { @class = "btn-jb2" })</button>
        </p>
    </div>
</div>


